# Git
.git
.gitignore

# Binarios y temporales
/super-descuentos
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Directorios de dependencias
/vendor/
/bin/
/dist/

# Sistema
.DS_Store

e2e/node_modules
./super-descuentos.db
./super-descuentos.exe